.navbar {
  display: flex;
  align-items: center;
  background-color: green;
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
}

li {
  margin-left: 25px;
  margin-right: 25px;
}
